body{
	background: #e5e5e5e5;
	font-family: 'Montserrat', sans-serif;

}

header{
	width: 940px;
	height: 88px;
}

.logo{
	width: 120px;
	height: 48px;
	padding: 40px 40px ;
}

main{
	position: absolute;
	width: 90%;
	height: 96%;
	display: flex;
	justify-content: space-between;
}

.parte1{
	position: relative;
	top: 80px;
	left: 240px;
}

.palabras {
	width: 80%;
	height: 70%;
	border: none;
	background: #e5e5e5e5;
	color: darkblue;
	font-size: 1.5em;
	font-weight: 500;
}

.palabras::placeholder{
	color: #0A3871;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.aviso{
	position: absolute;
	top: 435px;
	display: flex;
	color: black;
	font-weight: 600;
	font-size: 13px;
}

.botones{
	position: absolute;
	bottom: 30px;
	height: 90px;
	padding-top: 15px;
	padding-left: 40px;
}

#boton-encriptar{
	width: 225px;
	height: 40px;
	background: #0A3871;
	color: white;
	font-weight: 90;
	font-size: 12px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	margin-right: 20px ;
}

#boton-desencriptar{
	width: 225px;
	height: 40px;
	margin-top: 10px;
	background: ##D8DFE8;
	color: #0A3871;
	font-weight: 90;
	font-size: 12px;
	border-radius: 15px;
	border: 1px solid #0A3871;
	cursor: pointer;
 }

.parte2{
	position: relative;
	display: block;
	width: 350px;
	height: 650px;
	top: 0px;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 30px;
	box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.50);
}

.contenedor-imagen{
	position: absolute;
	width: 240px;
	left: 20px;
	top: 90px;
	box-sizing: border-box;
	padding-top: 50px;
}

.caja-texto2{
	position: absolute;
	box-sizing: border-box;
	top: 460px;
	left: 30px;
}

.caja-texto2 h2{
	font-size: 1.3em ;
	font-weight: 700;
	text-align: center;
	color: #343a40;
}

.caja-texto2 p{
	padding-top: 20px;
	font-size: 13px ;
	font-weight:500;
	text-align: center;
	color: #495057;
}

.bloque-resultado{
	position: absolute;
	top: 20px;
	width: 300px;
	height: 450px;
	box-sizing: border-box;
	margin-left: 25px;

}

.texto-resultado{
	font-size: 20px;
	font-weight: 600;
	color: #495057;
	box-sizing: border-box;
	line-height: 100px;


}

.boton-copiar{
	display: flex;
	position: absolute;

	padding-top: 15px;
	padding-left: 95px;
	margin-top: 10px;
	margin-left: 80px;

	bottom: 45px;
	width: 225px;
	height: 40px;
	background: #ffffff;
	color: #0A3871;
	font-weight: 90;
	font-size: 12px;
	border-radius: 15px;
	border: 1px solid #0A3871;
	cursor: pointer;
}

.ocultar{
    display: none;
}
